<h1>Favorites</h1>

    <% @favorites.each do |favorite| %>
      <div class="container mb-4" style="width: 25rem;">
        <%= render 'causes/cause_no_comment', cause: favorite.cause %>
      </div>
    <% end %>
