<h1>Causes</h1>



  
    <% @causes.each do |cause| %>
      <div class="container mb-4" style="width: 25rem;">
          <%= render 'causes/cause_no_comment', cause: cause %>
      </div>
    <% end %>


<br>

<%= link_to 'New Cause', new_cause_path %>
